.container {
  box-sizing: border-box;
  width: 366px;
  min-height: 488px;
  padding: 40px;
  background: #d1d3fa;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.image {
  display: block;
  width: 60%;
  align-self: center;
}

.text-container {
  margin-top: 40px;
}

.title {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 0.25em;
}

.description {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 1.6;
}

.interactive-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: auto;
}

.social {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    width: 18px;

    & + li {
      margin-left: 1em;
    }
  }

  a {
    color: #5a5a5a;

    &:hover {
      color: #000;
    }
    &:focus-visible {
      outline: 1px dotted;
    }
  }
}

.link {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: baseline;
  margin-top: auto;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    outline: 1px dashed;
  }

  &__icon {
    margin-left: 0.3em;
  }
}

// AS LINK
.container.as-link {
  text-decoration: none;
  color: #000;
}

// THE PSEUDO-CONTENT TRICK
.pct {
  &.container {
    position: relative;
  }

  .link {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .text-container {
    position: relative;
    z-index: 1;
  }
}

// AS BUTTON
.as-button {
  &.container {
    border: none;
    text-align: inherit;
  }
}

// REDUNDANT CLICK EVENT (WITH AFFORDANCES)
.rce {
  &.container {
    cursor: pointer;
    transition: box-shadow 100ms;

    &:hover,
    &:focus-within {
      box-shadow: 0 0 0 0.25rem #5a5a5a;
    }
  }

  .link {
    &:focus {
      outline: none;
    }
  }
}

// FINAL FORM
.ff {
  .title > a {
    color: inherit;
    text-decoration: none;

    &:focus {
      outline: none;
    }
  }
  .link {
    &:hover {
      text-decoration: none;
    }
    &:focus {
      outline: none;
    }
  }
}
